* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    
    /* COLOR PALETTE  */
    
    --color-1: #015668;
    --color-2: #263f44;
    --color-3: #ffd369;
    --color-4: #fff1cf;



    /* FONT FAMILY */
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--color-3);    
}

body {
    background-color: var(--color-1);
    
    height: 100vh;
    overflow: hidden;
}

header {
    width: 100%;
    padding: 1rem;
    background-color: var(--color-2);
    
    display: flex;
    justify-content: center;
    
}

h1 {
    
    font-family: 'Yesteryear', cursive;
    cursor: pointer;
    font-size: 2rem;
}

 ul {
    display: flex;
    list-style: none;

}


a {
    color: var(--color-3);
    font-size: 2rem;
    margin-left: 4rem;
    text-decoration: none;
}

a:hover {
    color: var(--color-4);
}

main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
section {
    width: 100%;
    height: calc(100% - 2rem);
    display: grid;
    grid-template: 4fr 2fr 0.5fr / 0.5fr 3fr 0.5fr;
    place-items: center;
}

.middle-section {
    grid-area: 1 / 2 / 2 / 3;

    border: 1px solid var(--color-3);
    box-shadow: 10px 10px  #ffd369;

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

}



.middle-section img {
    width: 40%;
    height: 75%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border: 1px solid #ffd369;
    filter: saturate(60%);
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        transition: transform 0.5s ease-in-out;
        border: 2px solid var(--color-4);
    }
}

.short-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;

    & h2 {
        font-size: 3rem;
    }

    & p {
        font-size: 2rem;
        margin: 2rem;
}

    & span {
        font-size: 4rem;

        & i:hover {
            color: var(--color-4);
            cursor: pointer;
            transform: scale(1.2);
        }
        .hidden-table {
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to right, var(--color-1), var(--color-2));

        }
    }

}


.contact-form-link {
    width: 15rem;
    position: relative;
    grid-area: 2 / 2 / 3 / 3;
    z-index: 2;

    animation: flying-bird 10s linear infinite;
    

    & img {
        width: 100%;
    }
    & span {
        position: absolute;
        width: 5rem;
        top: 3.6rem;
        left: 10.2rem;
        background-color: #87C6C8;
        font-size: 1rem;
        font-weight: 600;
    }
}



footer {
    width: 100%;
    height: 2rem;
    padding: 0rem 2rem;
    background-color: var(--color-2);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}


@media (min-width: 768px) {
    header {
        justify-content: space-around;
    }

    footer {
        justify-content: space-around;
    }
}



/* CONTACT FORM HTML */

form {
    width: 75%;
    height: auto;
    margin: 30px auto;

    background-color: var(--color-4);
    border-radius: 10px;

    line-height: 2rem;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    color: var(--color-1);

    & input {
        margin-bottom: 1rem;
    }

    & input:focus, textarea:focus {
        outline-color: var(--color-3);
    }

    & input[type="submit"] {
        width: 30%;
        height: 2rem;
        margin: 1rem;
   
        border: 1px solid var(--color-1);
        background-color: var(--color-3);
        color: var(--color-2);
        font-size: 1.5rem;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 5px 5px 1px var(--color-1);
    }
    
}

.message-section {
    width: 80%;
    margin: auto;
    padding: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    & img {
        width: 15rem;
        margin: 20px;
        animation: flying-bird 4s linear infinite;
    }
    
}

@keyframes flying-bird {
    0% {
        transform: translateX(100%) translateY(10%) scale(0.75);
        opacity: 1;
    }
    12.5% {
        transform: translateX(75%) translateY(-10%);
    }
    25% {
        transform: translateX(50%) translateY(10%);
    }
    37.5% {
        transform: translateX(25%) translateY(-10%)
    }
    50% {
        transform: translateX(0) translateY(10%) scale(1);
        opacity: 1;
    }
    62.5% {
        transform: translateX(-25%) translateY(-10%);        
    }
    75% {
        transform: translateX(-50%) translateY(10%);
    }
    87.5% {
        transform: translateX(-75%) translateY(-10%);
    }
    100% {
        transform: translateX(-100%) translateY(10%) scale(0.75);
        opacity: 1;
    }
}