* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    
    /* COLOR PALETTE  */
    
    --color-1: #015668;
    --color-2: #263f44;
    --color-3: #ffd369;
    --color-4: #fff1cf;



    /* FONT FAMILY */
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--color-3);    
}




/* MAIN PAGE DESKTOP VIEW */



body {
    background-color: var(--color-1);
    height: 100vh;
    overflow: hidden;
}


/* HEADER */

header {
    width: 100%;
    height: 5%;
    padding: 0.5rem;
    background-color: var(--color-2);
    
    display: flex;
    justify-content: space-around;
    
}

h1 {
    font-family: 'Yesteryear', cursive;
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1rem;
}

 ul {
    display: flex;
    list-style: none;
    position: relative;
}


a {
    color: var(--color-3);
    font-size: 2rem;
    margin-left: 0rem;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--color-4);
}

.drop-down-menu {
    display: none;
    width: 200px;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: var(--color-4);
    z-index: 4;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop-down-menu a {
    color: var(--color-1);
    padding: 1rem;
    text-decoration: none;
    display: block;
    text-align: center;
}

ul:hover .drop-down-menu {
    display: block;
}

.drop-down-menu a:hover {
    width: 100%;
    background-color: var(--color-3);
    color: var(--color-1);
}



/* MAIN  */

main {
    height: 90%;
    width: 100%;
    margin: auto;
    padding: 1rem;

    position: relative;
}



.image-grid {
    width: 100%;
    height: 40%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
    place-items: center;

}


.img-container-1, .img-container-2, .img-container-3, .img-container-4, .img-container-5, .img-container-6, .img-container-7, .img-container-8 {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.img-container-1 {
    grid-area: 1 / 1 / 3 / 2;
    background-image: url(images/mount-hood-72366_1280.jpg);
}
.img-container-2 {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(images/crater-lake-53190_1280.jpg);
}
.img-container-3 {
    grid-area: 1 / 3 / 2 / 4;
    background-image: url(images/oregon-2243452_1280.jpg);
}
.img-container-4 {
    grid-area: 1 / 4 / 3 / 5;
    background-image: url(images/oregon-2530164_1280.jpg);
}
.img-container-5 {
    grid-area: 2 / 3 / 3 / 4;
    background-image: url(images/oregon-26053_1280.jpg);
}
.img-container-6 {
    grid-area: 1 / 5 / 2 / 6;
    background-image: url(images/todd-lake-1721559_1280.jpg);
}

.img-container-7 {
    grid-area: 2 / 2 / 3 / 3;
    background-image: url(images/waterfall-4726196_1280.jpg);
}

.img-container-8 {
    grid-area: 2 / 5 / 3 / 6;
    background-image: url(images/bird-3296973_1280.jpg);
}



.image-grid span {
    grid-area: 1 / 4 / 3 / 5;
    z-index: 1;
    place-self: center;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Yesteryear', cursive;
}




.bio {
    height: 60%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}


.bio-image {
    width: 20%;

    border-radius: 50%;

    background-image: url(images/Screenshot\ from\ 2023-08-31\ 14-11-57.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.short-bio {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: end;
    padding: 5px;

    & h2 {
        font-size: 3rem;
        animation: change-size 1s ease-in-out infinite;
    }

    
    & p {
        font-size: 2rem;
        margin: 2rem 0;
    }
    
}

@keyframes change-size {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.skills {
    width: 30%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.skill {
    width: 100%;
    padding: 1rem;
    height: calc(100% / 4);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;

    & i {
        font-size: 3rem;
        margin-right: 1rem;
        color: var(--color-1);
    }

}

.skill::before {
    content: "";
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(calc(-100%));
    background-color: var(--color-4);
    
}

.skill:nth-child(1)::before {
    animation: transform1 3s linear forwards;
    
}

.skill:nth-child(2)::before {
    animation: transform1 3s linear forwards;
    
}

.skill:nth-child(3)::before {
    animation: transform2 3s ease-in forwards ;

}

@keyframes transform1 {

    0% {
        transform: translate(calc(-100%));
    }
    100% {
        transform: translate(-20%);
    }
}
@keyframes transform2 {

    0% {
        transform: translate(calc(-100%));
    }
    100% {
        transform: translate(-70%);
    }
}











.contact-form-link {
    width: 16rem;
    z-index: 2;
    position: absolute;
    left: 20%;
    bottom: 2rem;


    animation: flying-bird 10s linear infinite;
    

    & img {
        width: 90%;
    }
    & span {
        position: absolute;
        width: 5rem;
        top: 3.6rem;
        left: 6.5rem;
        background-color: #87C6C8;
        font-size: 1rem;
        font-weight: 600;
    }
}



/* FOOTER */



footer {
    width: 100%;
    height: 5%;
    height: 2rem;
    padding: 0rem 2rem;
    background-color: var(--color-2);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}




/* MOBILE VIEW */

@media (max-width: 768px) {
    body {
        height: auto;
        overflow: auto;/* .contact-form {

            width: 100%;
            height: 100%;
            margin: auto;
            display: flex;
            align-items: center;
        
            position: absolute;
            top: 0;
            right: -20%;
        
        } */
    }

    header {
        height: 3.5rem;
        justify-content: center;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    
    .image-grid {
        height: 30vh;
    }

    .img-container-4 {
        grid-area: 1 / 1 / 3 / 6;
        z-index: 1;
        background-image: url(images/oregon-2530164_1280.jpg);

    }
    .image-grid span {
        grid-area: 1 / 2 / 3 / 5;
        font-size: 4rem;
        z-index: 2;

    }

    .bio {
        margin-top: 50px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .short-bio {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .bio-image {
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
    }

    .skills {
        width: 90%;
        height: 30vh;
        margin-bottom: 50px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }


    .contact-form {
        display: none;
    }
    


    footer {
        position: relative;
    }
}



/* CONTACT FORM HTML */

form {
    width: 75%;
    height: auto;
    margin: 30px auto;

    background-color: var(--color-4);
    border-radius: 10px;

    line-height: 2rem;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    color: var(--color-1);

    & input {
        margin-bottom: 0.5rem;
        padding: 0.5rem;
    }

    & input:focus, textarea:focus {
        outline-color: var(--color-3);
    }

    & input[type="submit"] {
        width: 30%;
        height: 3rem;
        margin: 1rem;
        padding: 1rem;
   
        border: 1px solid var(--color-1);
        background-color: var(--color-3);
        color: var(--color-2);
        font-size: 1.5rem;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 5px 5px 1px var(--color-1);
    }
    
}

.message-section {
    width: 80%;
    margin: auto;
    padding: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    & img {
        width: 15rem;
        margin: 20px;
        animation: flying-bird 4s linear infinite;
    }
    
}

@keyframes flying-bird {
    0% {
        transform: translateX(100%) translateY(10%) scale(0.75);
        opacity: 1;
    }
    12.5% {
        transform: translateX(75%) translateY(-10%);
    }
    25% {
        transform: translateX(50%) translateY(10%);
    }
    37.5% {
        transform: translateX(25%) translateY(-10%)
    }
    50% {
        transform: translateX(0) translateY(10%) scale(1);
        opacity: 1;
    }
    62.5% {
        transform: translateX(-25%) translateY(-10%);        
    }
    75% {
        transform: translateX(-50%) translateY(10%);
    }
    87.5% {
        transform: translateX(-75%) translateY(-10%);
    }
    100% {
        transform: translateX(-100%) translateY(10%) scale(0.75);
        opacity: 1;
    }
}
