* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    
    /* COLOR PALETTE  */
    
    --color-1: #015668;
    --color-2: #263f44;
    --color-3: #ffd369;
    --color-4: #fff1cf;



    /* FONT FAMILY */
    font-size: 15px;
    font-family: 'Pacifico', cursive;    
}

body {
    background-color: var(--color-1);

    height: 100vh;
    overflow: hidden;
}

header {
    width: 100%;
    height: 3rem;
    background-color: var(--color-2);
}